.Avatar-container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  border: 0.5px solid rgb(187, 189, 186);
  padding: 8px;
}

.Avatar-container-available {
  border: 0.5px solid rgb(68, 183, 0);
}

.Avatar-container-busy {
  border: 0.5px solid rgb(255, 0, 0);
}

.Avatar-container-away {
  border: 0.5px solid rgb(255, 255, 0);
}

.Avatar-logo {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  /* color: transparent; */
  text-indent: 10000px;
}
